.main {
  @include flex(flex-start, column, flex-start);
  background: $color-black;
  border-top-left-radius: 2.8rem;
  border-top-right-radius: 2.8rem;
  padding: 8rem 10rem 16rem;
  max-width: 114rem;
  width: 100%;
  margin-inline: auto;
  color: $color-white;
  font-size: 2.4rem;
  flex: 1 0 auto;

  --size: 5rem;
  --p: 2.5rem;
  --R: 5.6rem;

  -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), $color-default 99%, #0000 101%)
      calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, $color-default 101%) 50% calc(100% - var(--size)) /
      calc(4 * var(--size)) 100% repeat-x;
  mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), $color-gamma 99%, #0000 101%)
      calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, $color-black 101%) 50% calc(100% - var(--size)) /
      calc(4 * var(--size)) 100% repeat-x;
  background: linear-gradient(90deg, $color-default, $color-gamma);
  border: none;
}

.summary {
  // background-color: rgb(0 0 0 / 0.45);
  background-color: $color-dark;
  border-top-left-radius: 2.8rem;
  border-top-right-radius: 2.8rem;
  box-shadow: 0 -1.2rem 1.6rem rgb(0 0 0 / 0.2);
  margin: auto;
  padding: 4.8rem 4rem 4.2rem;
  position: relative;
  text-align: center;
  margin-bottom: 3.2rem;

  &::before {
    content: "";
    position: absolute;
    top: -38px;
    left: -45px;
    width: 13%;
    height: 34%;
    background-image: url("../src/assets/images/mint-ba.png");
    background-size: contain;
    z-index: 100;
    filter: drop-shadow(0 0.4em 0.8em $color-black);
  }
}
