.modal {

  &__backdrop {
    // background-color: rgb(0 0 0 / 0.6);
    background: linear-gradient(-45deg, $color-primary, $color-lambda);
    inset: 0;
    position: fixed;
    z-index: 10;
    opacity: 0.5;
  }

  &__overlay {
    @include box-shadow;
    @include border-radius;
    animation: fadein 400ms 250ms both, slideup 400ms 250ms both;
    background-color: $color-delta;
    padding: 5.2rem;
    min-width: 40%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }

  &__content {
    font-size: 3.2rem;
  }

  &__list {
    list-style: none;
    overflow: auto;
  }

  &__amount {
    margin: 1.2em 0 0.8em;

    &--text {
      margin-right: 0.4em;
    }

    &--number {
      @include border-radius;
      background: $color-success;
      color: $color-white;
      padding: 0.1em 0.4em;
    }
  }

  &__cta {
    @include flex(center, row, right);
    gap: 0.8em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
}

@keyframes slideup {
  from {
    top: 0%;
  }
}
