//colors
$color-white: #fff;
$color-black: #21252f;
$color-dark: #262b37;
$color-alpha: #fef0ff;
$color-beta: #f9eddb;
$color-gamma: #7f3a84;
$color-delta: #ffdab3;
$color-lambda: #a44dab;
$color-default: #36558f;
$color-primary: #355ba0;
$color-success: #457d0c;
$color-warning: #e46e1f;
$color-danger: #c9342c;

// fonts
$font-size-xs: 1.2rem;
$font-size-s: 1.6rem;
$font-size-m: calc(0.9rem + 0.8vw);
$font-size-l: calc(1rem + 2vw);
$font-size-xl: calc(1rem + 2.4vw);
