/*======================
as media-quires are not based on root element, but on browsers' default 16px unit, we need to convert everything to ems (not rems!) in media queries, as rems will not work! Therefore, to get ems as relative units, we devide desired breakpoints in px by 16.
======================*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
.u-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: stretch;
}

:root {
  --header-height: 9rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Cairo", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #21252f;
}
@media (max-width: 100em) {
  body {
    background: #e46e1f;
  }
}
@media (max-width: 90em) {
  body {
    background: #59921b;
  }
}
@media (max-width: 48em) {
  body {
    background: #c9342c;
  }
}

.title__primary, .title__secondary, .title__tertiary {
  background: linear-gradient(-90deg, #355ba0, #a44dab);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title__primary {
  font-size: calc(1rem + 2.4vw);
  filter: drop-shadow(0.1rem 0.2rem 0.1rem #21252f);
}
.title__secondary {
  font-size: calc(1rem + 2vw);
  margin-bottom: 0.4em;
}
.title__tertiary {
  font-size: calc(0.9rem + 0.8vw);
  filter: drop-shadow(0 0.2rem 0.1rem #21252f);
}

.bodytext__primary {
  line-height: 1.4;
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  width: 70%;
  margin-inline: auto;
}

.cta {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
  background: #fef0ff;
  border: none;
  font-family: inherit;
  font-size: calc(0.9rem + 0.8vw);
  font-weight: 300;
  padding: 0.4em 1.2em;
  position: relative;
  min-width: fit-content;
  transition: all 0.2s;
  cursor: pointer;
}
.cta:hover {
  background: #fffaff;
}
.cta:active {
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
}
.cta--success {
  background: #59921b;
  color: #fef0ff;
}
.cta--success:hover {
  background: #66a81f;
}
.cta--cart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.2rem;
  background-color: #7f3a84;
  color: #fef0ff;
}
.cta--cart:hover {
  background: #6e3272;
}
.cta--decrease {
  background: #7f3a84;
  color: #fff;
  padding: 0.4em 0.8em;
}
.cta--decrease:hover {
  background: #6e3272;
}
.cta--increase {
  background: #59921b;
  color: #fff;
  padding: 0.4em 0.8em;
}
.cta--increase:hover {
  background: #4c7c17;
}
.cta--add {
  background: #59921b;
  color: #fef0ff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  outline: 1px solid #59921b;
  padding: 0.2em 1.2em;
}
.cta--add:hover {
  background: #4c7c17;
}
.cta--add:focus, .cta--add:active {
  background: #3f6713;
}
.cta__cancel {
  border-radius: 0;
  background: transparent;
  color: #7f3a84;
  box-shadow: none;
  padding: 0 2rem;
  position: relative;
}
.cta__cancel:hover {
  background: none;
}
.cta__cancel::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;
}
.cta__cancel:hover::before {
  transform: scaleX(1);
}
.cta__submit {
  margin-top: 3.2rem;
}
.cta--default {
  background: #36558f;
  color: #fef0ff;
}
.cta--default:hover {
  background: #3d60a2;
}
.cta--danger {
  background: #c9342c;
  color: #fef0ff;
}
.cta--danger:hover {
  background: #d4423b;
}

.card {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
}

.chart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fef0ff;
  height: 20rem;
  padding: 2rem 3.6rem 1.2rem;
}

.chart-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  flex: 0 0 2.2rem;
  height: 100%;
}
.chart-bar__pipe {
  height: 100%;
  width: 100%;
  border: 0.1rem solid #7f3a84;
  background-color: #7f3a84;
  overflow: hidden;
}
.chart-bar__filler {
  background-color: #f9eddb;
  height: 100%;
  transition: all 0.3s ease-out;
}
.chart-bar__label {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  color: #262b37;
}

.content {
  background-color: #262b37;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 6rem;
  min-height: 100vh;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 3.6rem;
}
@media (max-width: 48em) {
  .counter {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.counter__number {
  font-size: 6rem;
  color: #fff;
  min-width: 10rem;
  text-align: center;
  flex: 1 0 10rem;
}
@media (max-width: 48em) {
  .counter__number {
    flex-basis: 0;
  }
}
.counter__cart {
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
  background-color: #59921b;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 400;
  width: 2em;
  height: 2em;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #21252f;
  padding: 2rem 5.2rem;
  border-top: 1px solid #262b37;
}

.form {
  width: 100%;
}
.form__group {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: inherit;
  width: 100%;
}
.form__group--row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: inherit;
  gap: 0.4em;
}
.form__label--centered {
  text-align: center;
}
.form__input {
  border: 0;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.4em 1.6em;
  background: #21252f;
  outline: 1px solid #59921b;
  font-family: inherit;
  font-size: 2rem;
  width: inherit;
  color: #fff;
}
.form__input--centered {
  text-align: center;
}
.form__input:focus, .form__input:active {
  background-color: #36558f;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
  position: fixed;
  width: 100%;
  background: #21252f;
  padding: 2rem 5.2rem;
  color: #fff;
  z-index: 2;
}

.image__primary {
  height: clamp(25vh, 50rem, 80vh);
  object-fit: cover;
  z-index: 1;
  --size: 5rem;
  --p: 2.5rem;
  --R: 5.6rem;
  -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #36558f 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)), rgba(0, 0, 0, 0) 99%, #36558f 101%) 50% calc(100% - var(--size))/calc(4 * var(--size)) 100% repeat-x;
  mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #7f3a84 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)), rgba(0, 0, 0, 0) 99%, #21252f 101%) 50% calc(100% - var(--size))/calc(4 * var(--size)) 100% repeat-x;
  background: linear-gradient(90deg, #36558f, #7f3a84);
  border: none;
}

.list {
  display: flex;
  align-items: inherit;
  flex-direction: column;
  justify-content: inherit;
  list-style: none;
  width: 100%;
  gap: 2rem;
}
.list__modal {
  max-height: 60vh;
  overflow: auto;
  padding-bottom: 1.2rem;
}

.list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
  gap: 2rem;
  background: #262b37;
  font-size: calc(0.9rem + 0.8vw);
  padding: 1.6rem 3.6rem 3.6rem;
  width: inherit;
  transition: background-color 250ms ease-in;
}
.list-item:hover {
  background-color: #21252f;
}
.list-item__date {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: #7f3a84;
  color: #fef0ff;
  flex: 0 0 14rem;
  font-size: calc(0.9rem + 0.8vw);
  line-height: 1.6;
  max-width: 14rem;
  padding: 0.8rem 3.2rem;
}
.list-item__date--year {
  font-weight: 500;
}
.list-item__date--month {
  font-weight: 300;
}
.list-item__date--day {
  font-weight: 200;
}
.list-item--modal {
  padding-block: 1.6rem;
}
.list-item__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 75%;
  align-self: stretch;
  line-height: 1.4;
}
.list-item__content--title {
  background: linear-gradient(-90deg, #36558f, #7f3a84);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #7f3a84;
  font-size: calc(1rem + 1.4vw);
  filter: drop-shadow(0 0.2rem 0.1rem #21252f);
}
.list-item__content--heading {
  font-size: calc(1rem + 1.2vw);
  color: #ffdab3;
}
.list-item__content--modal {
  flex: auto;
}
.list-item__content--description, .list-item__content--price, .list-item__content--amount {
  font-size: calc(0.9rem + 0.8vw);
  color: #fff;
}
.list-item__content--price {
  margin-right: 0.1em;
}
.list-item__amount {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: #7f3a84;
  color: #fef0ff;
  font-weight: 300;
  min-width: 14rem;
  padding: 0.8rem 2.8rem;
  text-align: center;
}
.list-item__icon {
  margin-inline: 0.4em;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background: #21252f;
  border-top-left-radius: 2.8rem;
  border-top-right-radius: 2.8rem;
  padding: 8rem 10rem 16rem;
  max-width: 114rem;
  width: 100%;
  margin-inline: auto;
  color: #fff;
  font-size: 2.4rem;
  flex: 1 0 auto;
  --size: 5rem;
  --p: 2.5rem;
  --R: 5.6rem;
  -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #36558f 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)), rgba(0, 0, 0, 0) 99%, #36558f 101%) 50% calc(100% - var(--size))/calc(4 * var(--size)) 100% repeat-x;
  mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #7f3a84 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)), rgba(0, 0, 0, 0) 99%, #21252f 101%) 50% calc(100% - var(--size))/calc(4 * var(--size)) 100% repeat-x;
  background: linear-gradient(90deg, #36558f, #7f3a84);
  border: none;
}

.summary {
  background-color: #262b37;
  border-top-left-radius: 2.8rem;
  border-top-right-radius: 2.8rem;
  box-shadow: 0 -1.2rem 1.6rem rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 4.8rem 4rem 4.2rem;
  position: relative;
  text-align: center;
  margin-bottom: 3.2rem;
}
.summary::before {
  content: "";
  position: absolute;
  top: -38px;
  left: -45px;
  width: 13%;
  height: 34%;
  background-image: url("../src/assets/images/mint-ba.png");
  background-size: contain;
  z-index: 100;
  filter: drop-shadow(0 0.4em 0.8em #21252f);
}

.modal__overlay {
  box-shadow: 0 0.4rem 0.8rem rgba(33, 37, 47, 0.35);
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background-color: #ffdab3;
  padding: 5.2rem;
  min-width: 40%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
.modal__content {
  font-size: 3.2rem;
}
.modal__list {
  list-style: none;
  overflow: auto;
}
.modal__amount {
  margin: 1.2em 0 0.8em;
}
.modal__amount--text {
  margin-right: 0.4em;
}
.modal__amount--number {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: #59921b;
  color: #fff;
  padding: 0.1em 0.4em;
}
.modal__cta {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  gap: 0.8em;
}

.nav {
  font-size: 2rem;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2em;
  list-style: none;
  margin-inline: 2.6rem;
}
.nav__list-link {
  background-color: #36558f;
  border-radius: 0.4rem;
  padding: 0.4em 1.2em;
  position: relative;
  font-size: 2.4rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  transition: background-color 250ms ease-in;
}
.nav__list-link:hover {
  background-color: #283f6a;
}
.nav__list-link::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;
}
.nav__list-link:hover::before {
  transform: scaleX(1);
}